<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog["title"] }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('home_page') }}"><h1>Back To Blogs</h1></a>
    </div>

    <div class="blogs">
        <h1>{{ blog["title"] }}</h1>
        <h2>{{ blog["subtitle"] }}</h2>
    </div>
    <div class="blogs">
        <h2>{{ blog["body"] }}</h2>
    </div>

    <div class="spacer"></div>

    <div class="footer">
        <h3>Made by Pratik</h3>
    </div>
</body>
</html>